/viikko4/1/MockitoDemo/build/
/viikko4/2/MaksukorttiMockito/build/
/viikko4/5/IntJoukkoSovellus/build/
/viikko4/6/Tennis/.gradle/
/viikko4/6/Tennis/build/
/viikko5/4-5/LaskinFX11/build/
/viikko6/2-5/QueryLanguage/build/
/viikko7/KiviPaperiSakset/build/